<% if @admin %>
<%= form_with(model: [:admin, employer], local: true) do |form| %>
<% if employer.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(employer.errors.count, "error") %> prohibited this employer from being saved:</h2>

  <ul>
    <% employer.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :company_desc %>
  <%= form.text_field :company_desc %>
</div>

<div class="field">
  <%= form.label :employee_count %>
  <%= form.text_field :employee_count %>
</div>

<div class="field">
  <%= form.label :logo_url %>
  <%= form.text_field :logo_url %>
</div>

<div class="field">
  <%= form.label :industry %>
  <%= form.text_field :industry %>
</div>

<div class="field">
  <%= form.label :founded_date %>
  <%= form.text_field :founded_date %>
</div>

<div class="field">
  <%= form.label :headquarters_address %>
  <%= form.text_field :headquarters_address %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>

<% else %>

<%= form_with(model: [:user, employer], local: true) do |form| %>
<% if employer.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(employer.errors.count, "error") %> prohibited this employer from being saved:</h2>

  <ul>
    <% employer.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :company_desc %>
  <%= form.text_field :company_desc %>
</div>

<div class="field">
  <%= form.label :employee_count %>
  <%= form.text_field :employee_count %>
</div>

<div class="field">
  <%= form.label :logo_url %>
  <%= form.text_field :logo_url %>
</div>

<div class="field">
  <%= form.label :industry %>
  <%= form.text_field :industry %>
</div>

<div class="field">
  <%= form.label :founded_date %>
  <%= form.text_field :founded_date %>
</div>

<div class="field">
  <%= form.label :headquarters_address %>
  <%= form.text_field :headquarters_address %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>

<% end %>