<p id="notice">
  <%= notice %>
</p>

<h1>Job Postings</h1>

<div id="job-postings-content">
  <form id="job-postings-sorter">
    <legend><strong>Sort By:</strong></legend>
    <div class="field">
      <input type="radio" name="sort" id="N-O-sort-button" value="N-O">
      <label for="N-O">Newest - Oldest Created</label>
    </div>
    <div class="field">
      <input type="radio" name="sort" id="O-N-sort-button" value="O-N">
      <label for="O-N">Oldest - Newest Created</label>
    </div>
    <div class="field">
      <input type="radio" name="sort" id="Z-A-sort-button" value="A-Z">
      <label for="A-Z">Alphabetically</label>
    </div>
    <div class="field">
      <input type="radio" name="sort" id="Z-A-sort-button" value="Z-A">
      <label for="Z-A">Reverse Alphabetically</label>
    </div>
    <input type="submit" value="Sort">
  </form>

  <div id="job-postings">

    <% @job_postings.each do |job_posting| %>
    <% employer = job_posting.employer %>

    <a href='<%= user_job_posting_url(job_posting) %>'>
      <div class="job-posting-cell">
        <div class="job-posting-logo">
          <%= employer.logo_url %>
        </div>

        <div class="job-posting-info">
          <p class="job-posting-title">
            <strong>
              <%= job_posting.position_name %></strong>
          </p>
          <p class="job-posting-employer">
            <%= employer.name %>
          </p>
          <p class="job-posting-location">
            <%= job_posting.location %>
          </p>
        </div>
      </div>
    </a>
    <% end %>

  </div>

</div>

<br>
<% if @admin %>
<%= link_to 'New Employer', new_admin_employer_url %>
<%= link_to 'New Job Posting', admin_job_postings_new_path %>

<% else %>
<%= link_to 'New Employer', new_user_employer_url %>
<%= link_to 'New Job Posting', user_job_postings_new_path %>
<% end %>