<p id="notice">
  <%= notice %>
</p>

<h1>Job Postings</h1>

<table>
  <thead>
    <tr>
      <th>Position name</th>
      <th>Position desc</th>
      <th>Location</th>
      <th>Benefits</th>
      <th>Employer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_postings.each do |job_posting| %>
    <tr>
      <td>
        <%= job_posting.position_name %>
      </td>
      <td>
        <%= job_posting.position_desc %>
      </td>
      <td>
        <%= job_posting.location %>
      </td>
      <td>
        <%= job_posting.benefits %>
      </td>
      <td>
        <%= job_posting.employer.name %>
      </td>
      <% if @admin %>
      <td>
        <%= link_to 'Show', admin_job_posting_url(job_posting) %>
      </td>
      <td>
        <%= link_to 'Edit', edit_admin_job_posting_url(job_posting) %>
      </td>
      <td>
        <%= link_to 'Destroy', admin_job_posting_url(job_posting), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>

      <% else %>
      <td>
        <%= link_to 'Show', user_job_posting_url(job_posting) %>
      </td>
      <td>
        <%= link_to 'Edit', user_job_posting_url(job_posting) %>
      </td>
      <% end %>

    </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @admin %>
<%= link_to 'New Employer', new_admin_employer_url %>
<%= link_to 'New Job Posting', admin_job_postings_new_path %>

<% else %>
<%= link_to 'New Employer', new_user_employer_url %>
<%= link_to 'New Job Posting', user_job_postings_new_path %>
<% end %>