<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @job_posting.position_name %>
</p>

<p>
  <strong>Position desc:</strong>
  <%= @job_posting.position_desc %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job_posting.location %>
</p>

<p>
  <strong>Benefits:</strong>
  <%= @job_posting.benefits %>
</p>

<p>
  <strong>Employer:</strong>
  <%= link_to @job_posting.employer.name, employer_path(@job_posting.employer)%>
</p>

<%= link_to 'Edit', edit_employer_job_posting_path(@job_posting) %> |
<%= link_to 'Back', root_path %>
