<p id="notice">
  <%= notice %>
</p>

<p>
  <strong>Position name:</strong>
  <%= @job_posting.position_name %>
</p>

<p>
  <strong>Position desc:</strong>
  <%= @job_posting.position_desc %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job_posting.location %>
</p>

<p>
  <strong>Benefits:</strong>
  <%= @job_posting.benefits %>
</p>

<%# logic for determining which links to display depending on the url of the page %>
<%# will move logic to different pages instead %>

<% if @admin %>
<p>
  <strong>Employer:</strong>
  <%= link_to @job_posting.employer.name, admin_employer_url(@job_posting.employer)%>
</p>

<%= link_to 'Edit', edit_admin_job_posting_url(@job_posting) %> |
<%= link_to 'Back', admin_job_postings_url %>

<% else %>
<p>
  <strong>Employer:</strong>
  <%= link_to @job_posting.employer.name, user_employer_url(@job_posting.employer)%>
</p>

<%= link_to 'Edit', edit_user_job_posting_url(@job_posting) %> |
<%= link_to 'Back', user_job_postings_url %>

<% end %>


<hr />

<% if @job_posting.comments.empty? %>

<p><strong>There are currently no comments for this post. Make one?</strong></p>

<% else %>
<h2> Comments: </h2>
<% end %>

<% @job_posting.comments.each do |comment| %>
<p><strong>
    <%= comment.title %></strong></p>
<p>
  <%= comment.body %>
</p>
<% end %>

<% if @admin %>
<%= form_with(model: [:admin ,@job_posting, @job_posting.comments.new] ) do |form| %>
<div class="input-group">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="input-group">
  <%= form.label :body %>
  <%= form.text_area :body %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>

<% else %>
<%= form_with(model: [:user ,@job_posting, @job_posting.comments.new] ) do |form| %>
<div class="input-group">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="input-group">
  <%= form.label :body %>
  <%= form.text_area :body %>
</div>

<div class="actions">
  <%= form.submit %>
</div>

<% end %>
<% end %>